@model Adresar.Models.About
@{
    ViewBag.Title = "Autor";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>

</hgroup>

<div><b>Ime</b>:&thinsp;&emsp;&emsp;@Model.Ime</div>
<div><b>Prezime</b>:&thinsp;@Model.Prezime</div>
<div><b>JMBAG</b>:&thinsp;&thinsp;@Model.JMBAG</div>
<div><b>Email</b>:&thinsp;&thinsp;&emsp;@Model.Email</div>